@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

h1 {
  color: white;
  background-color: black;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

a {
  cursor: pointer;
}
